* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
}
body {
  background-color: #f1f1f1;
}
.signs {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 15px;
  float: right;
}
.signs img {
  width: 200px;
  height: 200px;
  border: 1px solid #222;
}
.signs p {
  font-size: 1.1rem;
  margin: 10px;
}
.description {
  color: #222;
  font-size: 1.3rem;
  margin: 15px;
}
.description a {
  color: #561876;
  text-decoration: none;
  font-size: 1.3rem;
}
.title {
  color: #222;
  font-size: 3rem;
  margin: 15px;
  text-align: center;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 10px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 10px;
}
.navbar a:hover {
  color: #eee;
  transform: scale(1.1);
}
.images {
  display: flex;
  flex-wrap: wrap;
  margin: 15px;
}
.images .image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #222;
  margin: 10px;
  padding: 10px;
}
.image img {
  width: 300px;
  max-height: 400px;
}
.gallery {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
}
.gallery .image img {
  width: 150px;
  max-height: 200px;
}
.big-image {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.big-image img {
  width: 600px;
  max-height: 800px;
  padding: 10px;
  border: 1px solid #222;
}
.photo-link {
  margin: 40px;
  padding: 10px;
  margin-top: 300px;
  color: #222;
  font-size: 1.5rem;
  text-decoration: none;
  border: 2px solid #222;
  height: max-content;
  border-radius: 15px;
}
.add-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  margin: 10px;
}
.add-photo input, .add-photo textarea {
  margin: 10px;
  padding: 10px;
  font-size: 1.2rem;
}